@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4cd681;
  --color-black: #00060c;
  --color-white: #fff;
}

html {
  /* scroll-behavior: smooth; */
  margin: 0;
  padding: 0;
}
body {
  color: var(--color-black);
  background: #fff;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 3.563rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.2rem;
}

p {
  font-size: 0.75rem;
}

span {
  font-size: 1rem;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-item-wrapper {
  position: relative;
  border-radius: 7px;
}
.gallery-title-wrapper {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: max-content;
  height: 50px;
  border-radius: 0 7px 7px 0;
  padding: 1rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}
.gallery-item-wrapper > .gallery-title-wrapper {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.gallery-title-wrapper > h3 {
  opacity: 0;
  transition: 0.3s ease-in-out 0.2s;
  transform: translateX(20px);
}
.gallery-item-wrapper:hover > .gallery-title-wrapper {
  opacity: 1;
}
.gallery-item-wrapper:hover > .gallery-title-wrapper > h3 {
  opacity: 1;
  transform: translateX(0);
}

/* .blurry {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  filter: blur(8px);
  -webkit-filter: blur(8px);
} */
